myvenv/
.vscode/
filebrowser.db
filebrowser.exe
opencv_06/img/*
opencv_07/src/__pycache__/
opencv_08/src/svm_random.xml
opencv_08/src/__pycache__/
opencv_08/img/101_ObjectCategories/
opencv_09/data/
opencv_09/src/faces/
opencv_09/drowsiness_detection/__pycache__/